*.log
npm-debug.log*

# Dependency directories
node_modules

# configs
package-lock.json
yarn.lock
config.json
yarn-error.log
.yarnrc
.env
tsconfig.json
babel.config.json
jest.config.ts

# project files
src
test
coverage
.babelrc
.gitignore
.eslintrc.json
.prettierrc
.prettierignore